#main {
  background:url(/static/images/appShow_background.png) no-repeat;
  background-size:100% 100%;
  background-position:0px 0px;
  border:0px solid;
}

#main_content {
 position:absolute;
 top:100px;
 height:700px;
 width:1024px;

}
#appShow_phone1 {
  position:absolute;
  right:0px;
  width:268px;
  height:567px;
  z-index:100;
  background:url(/static/images/appShow_phone1.png) no-repeat;
  background-size:268px 567px;
  background-position:0px 0px;
  border:0px solid;
}

#appShow_phone2 {
  position:absolute;
  right:223px;
  width:225px;
  height:478px;
  z-index:50;
  background:url(/static/images/appShow_phone2.png) no-repeat;
  background-size:225px 478px;
  background-position:0px 0px;
  border:0px solid;
}
#appShow_actions {
 width:335px;
 height:443px;
}


#appShow_title {
 width:226px;
 height:41px;
 position:absolute;
 top:0px;
 background:url(/static/images/appShow_title.png) no-repeat;
 background-size:226px 41px;
 background-position:0px 0px;
}

#appShow_code  {
  position:absolute;
  bottom:0px; 
  width:335px;
  height:335px;
  border-radius:335px;
 background: #fff url(/static/images/portal_code.png) no-repeat center center;
}

