div#header {
  width:100%;
  min-width:900px;
  height:126px;
  background-color:#fff;
  position:absolute;
  top:0px;
  left:0px;
  border:0px solid;
}


div#app_title {
  height:46px;
  width:151px;
  position:absolute;
  left:16px;
  top:40px;
  background:url(/static/images/soda.png) no-repeat;
  background-size:151px 46px;
  background-position:0px 0px;
  z-index:50;
}
div#futuremove {
  height:20px;
  width:80px;
  position:absolute;
  right:-110px;
  bottom:0px;
  background:url(/static/images/futuremove.png) no-repeat;
  background-size:100% 100%; 
  background-position:0px 0px;
  z-index:50;
    cursor:pointer;
}

div#menuBar {
   height:52px;
   width:562px;
   border:0px solid;
    overflow:hidden;

}

div[id^="menu_"] {
  float:left;
  width:92px;
  height:50px;
  border:0px solid blue;
  cursor:pointer;
  overflow:hidden;
  margin:0;
}

.menu_split {
   float:left;
   margin:0;
   width:2px;
   height:50px;
   border:0px solid red;
   background: url(/static/images/menu_split.png) no-repeat;
   background-size:2px 20px;
   background-position:0px 15px;

}
.menu_icon {
     position:absolute;
     left:0px;
     top:0px;
     margin:0;
     background:url(/static/images/hb_icons.png) no-repeat;
     background-size:512px 100px;
     height:100px;
     width:92px;
}

.icon-01 {background-position: 32px 0px;}
.icon-02 {background-position: -61px 0px;}
.icon-03 {background-position: -154px 0px;}
.icon-04 {background-position: -247px 0px;}
.icon-05 {background-position: -340px 0px;}
.icon-06 {background-position: -433px 0px;}

.menu_selected {
  -ms-transform:translate(0%,-50px);
  -webkit-transform:translate(0%,-50px);
  -moz-transform:translate(0%,-50px);
  -o-transform:translate(0%,-50px);
  transform:translate(0%,-50px);
}


div#header_rightToolBar {
   position:absolute;
   right:28px;
   top:8px;
   width:100px;
   height:78px;
   border:0px solid red;
}

div#header_login_b {
  position:absolute;
  top:0px;
  left:1px;
  height:40px;
  width:25px;
  background:url(/static/images/header_login_button.png) no-repeat;
  background-size:25px 82px;
  background-position:0px 0px;
  cursor:pointer;
}

div#header_login_b:hover  {background-position:0px -41px;}

div#header_register_b {
  position:absolute;
  top:0px;
  right:1px;
  height:40px;
  width:25px;
  background:url(/static/images/header_register_button.png) no-repeat;
  background-size:25px 82px;
  background-position:0px 0px;
  cursor:pointer;
}
div#header_register_b:hover  {background-position:0px -41px;}

div#header_web_b {
  position:absolute;
  bottom:0px;
  width:100px;
  height:30px;
  background:url(/static/images/header_web_button.png) no-repeat;
  background-size:100px 30px;
  background-position:0px 0px;
  cursor:pointer;
}

