#main {
  background:#e7f1f2;
}

#main_content {
	position:absolute;
        background:#fff;
        width:1024px;
        height:435px;
        top:55px;
        border-radius:25px;
}


#info_submit {
	position:absolute;
        width:50%;
        height:100%;
        left:0px;
}

#submit_title_icon {
	position:absolute;
        width:348px;
        height:90px;
        left:36px;
        top:31px;
 /*       background:url(/static/images/submit_title.png) no-repeat center center; */
}
#sub_title2 {
	position:absolute;
        width:348px;
        height:90px;
        left:0px;
        bottom:0px;
        background:url(/static/images/sub_title2.png) no-repeat center center; 
}
#submit_info_icon {
	position:absolute;
        width:353px;
        height:38px;
        left:38px;
        top:265px;
        background:url(/static/images/submit_info.png) no-repeat center center;
}
#submit_button_icon {
	position:absolute;
        width:108px;
        height:33px;
        left:203px;
        top:316px;
        background:url(/static/images/submit_button_icon.png) no-repeat center center;
}
#reset_button_icon {
	position:absolute;
        width:90px;
        height:33px;
        left:96px;
        top:316px;
        background:url(/static/images/reset_button_icon.png) no-repeat center center;
}

#mobileNo_input_div {
  position:absolute;
  text-align:left;
  color:#4cb3b1; 
  left:36px;
  top:178px;
  height:37px;
  width:277px;
  font-size:20px;
  font-weight:100;
  line-height:37px;

}
#email_input_div {
  position:absolute;
  text-align:left;
  color:#4cb3b1; 
  left:36px;
  top:221px;
  height:37px;
  width:277px;
  font-size:20px;
  font-weight:100;
  line-height:37px;
}


div[id$=_input_div] input{
   position:absolute;
   right:0px;
   height:100%;
   width:218px;
   border:1px solid #4cb3b1;
   border-radius:10px;
}

#app_download {
	position:absolute;
        right:0px;
        width:50%;
        height:100%;
        border:0px solid;
        background:url(/static/images/portal_code.png) no-repeat;
        background-position:center center;
    
}

#info_div {
 position:absolute;
 top:501px;
 width:100%;
 height:193px;
 background:#e5c267;
 overflow:visible;
}
#info_div_content  {
 position:absolute;
 top:0px;
 width:1024px;
 height:193px;
 background:url(/static/images/info_div.png) no-repeat center center;
}

#portal_addr {
 position:absolute;
 top:50px;
 left:761px; 
 color:#fff;
 font-size:15px;
 cursor:pointer;
}


#partner_icons {
    position:absolute;
        bottom:20px;
        width:351px;
        height:30px;
        left:622px;
        top:131px;
}

#weibo_icon {
       position:absolute;
       cursor:pointer;
       background:url(/static/images/weibo.png) no-repeat;
       background-size:29px 24px;
       width:29px;
       height:24px;
       left:0px;
}
#weixin_icon {
       position:absolute;
       cursor:pointer;
       background:url(/static/images/weixin.png) no-repeat;
       background-size:29px 24px;
       width:29px;
       height:24px;
       left:83px;
}
#facebook_icon {
       position:absolute;
       cursor:pointer;
       background:url(/static/images/facebook.png) no-repeat;
       background-size:29px 24px;
       width:29px;
       height:24px;
       left:166px;
}
#flicker_icon {
       position:absolute;
       cursor:pointer;
       background:url(/static/images/flicker.png) no-repeat;
       background-size:29px 24px;
       width:29px;
       height:24px;
       left:245px;
}
#linkedin_icon {
       position:absolute;
       cursor:pointer;
       background:url(/static/images/linkedin.png) no-repeat;
       background-size:29px 24px;
       width:29px;
       height:24px;
       left:325px;
}

