#mi_header {
 position:relative;
 background:url("/static/mobile/images/header.png") no-repeat center center;
 height:100px;
 width:100%;
 border-width:1px 0px 0px 0px;
 border-top:solid #cfcfcf;
}

#mi_backButton  {
 color:#000;
 font-size:2.1em;
  position:absolute;
  left:9px;
  top:15px; 
}

#mi_main_content {
  position:relative;
  height:501px;
  width:100%;
  background:#dbecec;
}

#mi_main_title1 {
  position:absolute;
  color:#4cb3b1;
  font-size:24px;
  height:25px;
  line-height:25px;
  width:104px;
  top:30px;

}
#mi_main_title2 {
  position:absolute;
  top:120px;
  line-height:32px;
  height:64px;
  width:500px;
  font-size:30px;
  color:#4cb3b1;
  text-align:center;
  
  
}
#mi_main_title3 {
  position:absolute;
  width:464px;
  height:42px;
  background:url("/static/mobile/images/mbint_title3.png") no-repeat center center;
  background-size:100% 100%;
  top:343px;
  
}
#mi_main_input1 {
  position:absolute;
  top:226px;
  height:33px;
  width:434px;
  background:url("/static/mobile/images/mbint_mobileNo.png") no-repeat center center;
  background-size:100% 100%;
  border:0px solid red;
}
#mi_main_input2 { 
  position:absolute;
  top:292px;
  height:33px;
  width:434px;
  background:url("/static/mobile/images/mbint_email.png") no-repeat center center;
  background-size:100% 100%;
  border:0px solid blue;
}
#mi_main_button2 { 
  position:absolute;
  top:0px;
  height:48px;
  right:30px;
  background:url("/static/mobile/images/mbint_rest.png") no-repeat center center;
  background-size:100% 100%;
  width:106px;
}
#mi_main_button1 { 
  position:absolute;
  height:48px;
  top:0px;
  left:30px;
  background:url("/static/mobile/images/mbint_submit.png") no-repeat center center;
  background-size:100% 100%;
  width:156px;
}
input {
 position:absolute;
 top:0px;
 right:0px;
 width:360px;
 height:25px;
 background:#dbecec;
}

#mi_lb_con {
  position:absolute;
  width:50%;
  left:50%;
  top:402px;
  height:50px;
}

#mi_rb_con {
  position:absolute;
  width:50%;
  right:50%;
  top:402px;
  height:50px;
}
#mi_share_con {
  position:relative;
  width:100%;
  height:210px;
  background:#e5c267;

}
#mi_share_title {
  position:absolute;
  top:5px;
  width:84px;
  height:30px;
  font-size:25px;
  line-height:30px;
  text-align:center;
  color:#fff;
}

#mi_share_line {
 position:absolute;
 top:55px;
 width:204px;
 height:10px;
 border-width:0px 0px 2px 0px;
 border-bottom:solid #ecd910;

}
#mi_share_btns {
	position:absolute;
	top:81px;
	width:288px;
	height:73px;
}
#mi_sbtn1 {
	position:absolute;
	top:0px;
	left:0px;
	width:73px;
	height:73px;
	background:url("/static/mobile/images/mi_sweixin.png") no-repeat center center;
	background-size:100% 100%;
}
#mi_sbtn2 {
	position:absolute;
	top:0px;
	width:73px;
	height:73px;
	background:url("/static/mobile/images/mi_sqq.png") no-repeat center center;
	background-size:100% 100%;
}
#mi_sbtn3 {
	position:absolute;
	top:0px;
	right:0px;
	width:73px;
	height:73px;
	background:url("/static/mobile/images/mi_sweibo.png") no-repeat center center;
	background-size:100% 100%;
}

#mi_contact_info {
  position:absolute;
  width:441px;
  height:408px;
  top:0px;
  background:url("/static/mobile/images/contact_info.png") no-repeat 0px 0px;
  background-size:441px 408px;


}

#mi_contact_info_div {
  position:relative;
  width:100%;
  height:812px;
  background:url("/static/mobile/images/contact_info_div.png") no-repeat center center;
  background-size:100% 100%;
  border:0px solid;
}
.mask_div {
  position:relative;
  width:100%;
  height:48px;
  background-size:100% 100%;
  background:rgba(255,255,255,0.6);
  height:48px;
}
#load_wait_submit {
   width:20px;
   height:20px;
   background:url('/static/images/trans_load.gif') no-repeat center center;
   background-size:100% 100%;
}
