.center_align {
     position: absolute; 
     left: 50%; 
     top: 50%;
     -ms-transform:translate(-50%,-50%);
     -webkit-transform:translate(-50%,-50%);
     -moz-transform:translate(-50%,-50%);
     -o-transform:translate(-50%,-50%);
     transform:translate(-50%,-50%);
}
.horizon_center_align {
     left: 50%; 
     -ms-transform:translate(-50%,0%);
     -webkit-transform:translate(-50%,0%);
     -moz-transform:translate(-50%,0%);
     -o-transform:translate(-50%,0%);
     transform:translate(-50%,0%);
}
.vertical_center_align {
     top: 50%; 
     -ms-transform:translate(0%,-50%);
     -webkit-transform:translate(0%,-50%);
     -moz-transform:translate(0%,-50%);
     -o-transform:translate(0%,-50%);
     transform:translate(0%,-50%);
}
.ui-page {
   background:#fff;
}


.thin_input {
      border:0px solid !important;
      padding:0px;
}


@-webkit-keyframes webkit-rotate {

  from {
	    transform: rotate(0deg);
    }

  to {
	    transform: rotate(360deg);
  }
}
@-moz-keyframes moz-rotate {
  from {
	    transform: rotate(0deg);
    }

  to {
	    transform: rotate(360deg);
  }
}
@-o-keyframes old-rotate {
  from {
	    transform: rotate(0deg);
    }

  to {
	    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
	    transform: rotate(0deg);
    }

  to {
	    transform: rotate(360deg);
  }
}
.rotating {

  -webkit-animation: webkit-rotate 0.5s infinite; /* Safari 4+ */

  -moz-animation:    moz-rotate    0.5s infinite; /* Fx 5+ */

  -o-animation:      old-rotate    0.5s infinite; /* Opera 12+ */
  
  animation:         rotate        0.5s infinite; /* IE 10+, Fx 29+ */
}
