.us_header {
 position:relative;
 background:url("/static/mobile/images/header.png") no-repeat center center;
 height:100px;
 width:100%;
 border-width:1px 0px 0px 0px;
 border-top:solid #cfcfcf;
}
.us_title {
  position:relative;
  height:111px;
  width:100%;
  background:url("/static/mobile/images/usage_title.png") no-repeat center center;
}


.usage_show_div {
 position:relative;
 width:640px;
 background:#fff;
 height:911px;
 overflow:hidden;
}




div[id^=usage_] {
  position:absolute;
  width:640px;
  height:911px;
  top:0px;
}


#usage_1 {
  left:0px;
  background: url("/static/mobile/images/usage_1.png") no-repeat center center;
  background-size:100% 100%; 
}
#usage_2 {
  left:0px;
 background: url("/static/mobile/images/usage_2.png") no-repeat center center;
 background-size:100% 100%; 

}
#usage_3 {
  left:0px;
 background: url("/static/mobile/images/usage_3.png") no-repeat center center;
 background-size:100% 100%; 

}
#usage_4 {
  left:0px;
 background: url("/static/mobile/images/usage_4.png") no-repeat center center;
 background-size:100% 100%; 
}
